.ql-emoji {
  width: 28px;
}

.emoji-container {
  position: absolute;
  width: 408px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .24);
  border-radius: 4px;
  text-align: left;
  visibility: hidden;
}

.emoji-container.show {
  visibility: visible;
}

.emoji-panel {
  padding: 10px 12px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .24);
  border-radius: 4px;
}

.emoji-toolbar {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  background-color: #f8f8f8;
  border: 0 solid rgba(0, 0, 0, .05);
  border-top-width: 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.emoji-toolbar .toolbar-item {
  width: 54px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  height: 41px;
  top: -1px;
  cursor: pointer;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.emoji-list span.emoji-item {
  padding: 4px;
  user-select: none;
  display: inline-block;
  box-sizing: content-box;
}

.emoji-toolbar .toolbar-item img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.emoji-toolbar .toolbar-item.active {
  background-color: #fff;
  border-color: inherit;
}

.emoji-list.emoji-icon span.emoji-item {
  width: 24px;
  height: 24px;
}

.emoji-list.emotion-icon span.emoji-item {
  width: 56px;
  height: 59px;
}

.emoji-list span.emoji-item:hover {
  background-color: rgba(17, 139, 251, .05);
  cursor: pointer;
}

.emoji-list span img {
  width: 100%;
  height: 100%;
}

.arrow-down {
  position: absolute;
  background: #f8f8f8;
  width: 14px;
  height: 14px;
  left: 50%;
  margin-top: -45px;
  margin-left: -8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 0;
  border-bottom: 0;
  box-shadow: -3px -3px 7px -2px rgba(0, 0, 0, .24);
}
